.main-container {
  width:100%;
  height:100%;
}
#border {
  height:100%;
  width:100%;
}
#title{
  position:absolute;
  left:{{titleOffsetLeft}}%;
  bottom:{{titleOffsetBottom}}%;
  color:#{{titleColor}};
  font-size:{{fontSize}}em;
}