* {
    font-family: 'Montserrat', sans-serif;
    color: {{fontColor}};
    font-size: 14px;
    overflow: hidden;
}

#ninja{
  height:150px;
  width:150px;
  display:block;
  margin:auto;
  animation-duration:.6s;
  animation-delay:.4s;
}

#username, #tier{
  color:{{usernameTextColor}};
  text-transform:uppercase;
  font-weight:bold;
  text-shadow: 2px 2px #000;
  animation-fill-mode: forwards;
}

#username{
  position:relative;
  font-style:italic;
  font-size:32px;
  animation-name: fadeIn;
  animation-timing-function:ease-out;
  animation-duration:1s;
  padding:0px 50px;
  width:  fit-content;
  margin:auto;
}

#username::before, #username::after{
  position:absolute;
  display:block;
  content:" ";
  top:0%;
  height:50px;
  opacity:.7;
  width:50px;
  margin:auto;
  animation-name: fadeInOut;
  animation-timing-function:ease-out;
  animation-duration:1s;
  animation-fill-mode: both;
}
#username::before{
  animation-delay:1s;
  width:100px;
  background-image:url({{StartingEffect}});
}

#username::after{
  animation-delay:2s;
  animation-duration:.7s;
  left:auto;
  right:0px;
  background-image:url({{EndingEffect}});
}

#tier{
  overflow: visible;
  color:{{subTextColor}};
  font-size:24px;
  text-shadow: 2px 2px #000;
  animation-duration:.5s;
  animation-delay:.5s; 
  height:80px;
  width:  fit-content;
  margin:auto;
}
#subtext{
  overflow: visible;
  position:relative;
  margin:auto;
  margin-top:10px;
  height:80px;
  width:  fit-content;
  margin:auto;
}
#kunai-left, #kunai-right{
  overflow: visible;
  position:absolute;
  height:40px;
  width:10px;
  top:-10px;
  left:-60px;
}
#kunai-right{
  left:auto;
  right:-50px;
}

#first, #second{
  height:40px;
  width:10px;
  background-size:cover;
  background-image:url({{kunai}});
  animation-duration:1s;
  animation-fill-mode: both;
  position:absolute;
  transform-origin: 50% 100% 0; 
}

#first{
  animation-name:kunaiRotateRight;
  animation-delay:1.0s; 
}

#second{
  animation-name:kunaiRotateLeft;
  animation-delay:1.1s; 
  left:20px;
}

.fadeInUp{
  animation-name: fadeInUp;
  animation-timing-function:ease-out; 
  animation-fill-mode: both;
}

.fadeIn{
  animation-name: fadeIn;
  animation-timing-function:ease-out; 
  animation-fill-mode: both;
}

@keyframes fadeInOut{
  0% {
    opacity:0;
  }
  50% {
    opacity:.7;
  }
  100% {
    opacity:0;
  }
}
 
@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes fadeInUp{
  0%{
    opacity:0;
    transform:translate(0px,50px)
  }
  100%{
    opacity:1;
    transform:translate(0,0)
  }
}

@keyframes fadeOut{
  0%{
    opacity:1;
  }
  100%{
    opacity:0;
  } 
}

@keyframes kunaiRotateRight {
  0%{
    /*transform:scale(.2,0);*/
    clip-path: circle(1%);
    transform: rotate(20deg);
  }
  40%{
    /*transform:scale(1,1);*/
    clip-path: circle(100%);
  }
  60%{
    transform: rotate(20deg);
  }
  100%{
    transform: rotate(45deg);
  }
}

@keyframes kunaiRotateLeft {
  0%{
    /*transform:scale(.2,0);*/
    clip-path: circle(1%);
    transform: rotate(-20deg);
  }
  40%{
    /*transform:scale(1,1);*/
    clip-path: circle(100%);
  }
  60%{
    transform: rotate(-20deg);
  }
  100%{
    transform: rotate(-45deg);
  }
}